.box{
    background-color: aqua;
    padding: 0px;
    margin: 0px;
}

.box1{
    color: maroon;
    padding: 10px;
    margin: 20px;
    border: 3px solid blue;
    height: 100px;              /* total height = padding*2 + height + border*2 */
    box-sizing: border-box;     /* total height = height, if this is written */
}

.box2{
    color: darkgreen;
    padding: 10px;
    margin: 30px;
    border: 3px solid brown;
    height: 100px;              /* total height = padding*2 + height + border*2 */
    box-sizing: border-box;     /* total height = height, if this is written */
}