.container {
    width: 200px;
    height: 100px;

    border: 2px solid darkred;
}

/* .container img {
/*     width: 200px;
/*     height: 100px;
/* 
/*     /* The area defined in the object itself (here 200px and 100px)
/*     is covered entirely and exactly by the image and the image is
/*     cut so that the image is not distorted */
/*     object-fit: cover;  
/* 
/*     /* image is contained in the object area (200px and 100px here)
/*     without distortion, but there may be empty spaces */
/*     object-fit: contain;
/* 
/*     /* If "contain" then the image is moved to the top right part of
/*     the object
/*     If "cover" then the top right part of the image is cut and used */
/*     /* object-position: top right;
/*     object-position: bottom left; */
/* 
/*     /* default value, the image is distorted to strictly maintain
/*     cover and contain properties */
/*     object-fit: fill;
/* 
/*     /* min(none, contain) */
/*     object-fit: scale-down;
/* 
/*     /* Specifies from where the positions are started from top left */
/*     object-fit: cover;
/*     object-position: 10px 10px;
/* 
/*     /* The positions are moved 50% */
/*     object-fit: cover;
/*     object-position: 50% 50%;
/* 
/*     object-fit: contain;
/*     object-position: 20% 10%;
/* }

/* FOR BACKGROUND PROPERTIES */

/* .container {
/*     width: 400px;
/*     height: 300px;
/* 
/*     border: 2px solid darkred;
/* 
/*     /* NOT DOWNLOADABLE FROM THE BROWSERS */
/* 
/*     background-image: url("https://c8343988-dfa6-4a2c-b4a5-ebf211071b98.mdnplay.dev/shared-assets/images/examples/plumeria-146x200.jpg");
/* 
/*     /* If image is smaller than the container then it is repeated in backgroud mode */
/*     background-repeat: no-repeat;   /* for no repeatation along both axis */
/*     background-repeat: repeat-x;   /* for no repeatation along Y-axis */
/* 
/*     /* If image is bigger then default is cover */
/*     background-image: url("https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=1024x1024&w=0&k=20&c=z8_rWaI8x4zApNEEG9DnWlGXyDIXe-OmsAyQ5fGPVV8=");
/* 
/*     background-position: center center;
/* }
*/


/*-------------- FILTERS ------------*/

.container {
    width: 300px;
    height: 200px;

    border: 2px solid darkred;
}

.container img {
    width: 300px;
    height: 200px;

    object-fit: contain;
    
    filter: blur(5px);
    filter: brightness(150%);
    filter: contrast(50%) brightness(150%);
    filter: grayscale(30%);     /* 30% grayscale */
    filter: sepia(80%);
    filter: invert(1);  /* 100% = 1 */
    filter: opacity(50%);
}