@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans";
}

header {
    display: flex;
    justify-content: center;

    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000;
}

/* ----- Navigation Bar ----- */

.navbar {
    margin-top: 10px;
    padding: 10px;
    height: 50px;
    width: 90vw;

    border: 2px solid #cecece;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px 0px #cecece; */

    background-color: #f6f6f6;
    color: rgb(46, 46, 46);

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Fira Sans";
    font-size: 14px;
}

.navbar a, 
.navbar a:visited {
    text-decoration: none;
    color: inherit;
}

.navbar a:hover, 
.navbar .download:hover,
.navbar .search:hover,
.options .parts ul button.button:hover {
    opacity: 70%;
    cursor: pointer;
}

.navbar .logo:hover {
    cursor: pointer;
}

.navbar ul.main {
    list-style: none;
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */

    gap: 10px;
}


/* instead of this, use gap in the ul */
/* .navbar .main li {
    margin: 10px;
} */

.navbar .logo {
    /* margin-right: auto; */
    padding: 10px;
}

.navbar .other {
    display: flex;
    /* margin-left: auto; */
    justify-content: center;
    align-items: center;
}

.navbar .other div {
    margin: 10px;
}

.navbar .other .download {
    padding: 5px 15px;
    border: 1px solid #e6c13a;
    border-radius: 5px;
    background-color: #ffd741;
}

.download a,
.main a,
.translate a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .other .translate {
    padding: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20
}


/*  Main Text  */

main {
    display: flex;
    justify-content: center;
}

main .options {
    width: 80vw;
    margin-top: 20px;
    display: grid;
    justify-items: center;
    align-items: center;

    justify-content: center;
    align-content: center;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.options .parts {
    background-color: rgb(242, 240, 236);
    border: 2px solid rgb(242, 240, 236);
    height: 200px;
    width: 300px;

    border-radius: 20px;
}

.options .parts ul {
    list-style: none;
    height: inherit;

    font-weight: bold;
    font-size: large;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.options .parts ul .name {
    align-self: end;
}

.options .parts ul button.button {
    padding: 5px 15px;
    border: 1px solid #e6c13a;
    border-radius: 5px;
    background-color: #ffd741;
    font-size: small;
}

.options .parts ul .short-id {
    font-size: x-small;
    font-weight: lighter;
}

.options .parts ul .long-id {
    font-size: xx-small;
    font-weight: lighter;
    align-self: start;
}


@media only screen and (max-width: 1000px) {
    main .options {
        grid-template-columns: 1fr;
    }
}